header {
  height: 33vw;
  position: relative;
  background: url("../../../public/header_img.png") no-repeat;
  background-size: contain;
  /* width: 80%; */
  margin: 30px auto;
}

.header-content {
  position: absolute;
  max-width: 50%;
  left: 10%;
  bottom: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: start;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.header-content h2 {
  font-weight: 500;
  font-size: 3vw;
  line-height: 1.3;
}

.header-content p {
  font-size: 1vw;
}

.header-content button {
  padding: 0.8em 2em;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  background-color: #fff;
  color: tomato;
}

@media (max-width: 1200px) {
  .header-content button {
    padding: 0.5em 1.7em;
    font-size: .8em;
  }
}
@media (max-width: 1000px) {
  
  .header-content {
    gap: 1em;
    left: 7%;
  }
  header {
    height: 40vw;
  }


  .header-content h2 {
    font-size: 4vw;
  }

  
.header-content p {
  font-size: 1.4vw;
}

}

@media (max-width: 850px) {
  .header-content {
    max-width: 55%;
  }

  .header-content p {
    display: none;
  }
}

@media (max-width: 480px) {
  
  .header-content h2 {
    font-size: 18px;
  }
  .header-content button {
    padding: 0.5em 1.2em;
    font-size: 13px;
  }

  .header-content {
    left: 50%;
    top: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
}